<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Posts</servlet-name>
		<servlet-class>com.homework.blog.BlogPost_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Posts</servlet-name>
		<url-pattern>/Posts</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>com.homework.blog.BlogSubmit_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Cron</servlet-name>
        <servlet-class>com.homework.blog.Cron_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cron</servlet-name>
        <url-pattern>/cronjob</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>com.homework.blog.UserPosts_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/userposts</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
