body {
	margin: 0;
	background-size: 100% auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A1A1A1;
}

ul.border {
	border-bottom: 2px solid #D6D6D6;
}

li {
	display: block;
    color: black;
    font-style: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li a {
    display: block;
    font-style: normal; 
    color: white;
    text-align: center;
    text-decoration: none;
}

#page-wrap {
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 300px;
    width: 1200px;
    margin: 0 auto;
}